.navbar {
  background-color: #fff;
}

.nav-link {
  color: #333; /* Customize the navbar link color */
  
}

.banner_wrapper h1 {
  font-size: 48px;
  font-weight: bold;
}

.link-white {
  color: var(--bs-white);
}

a {
  transition: all .2s linear;
  text-decoration: none;
}

a.hover {
  position: relative;
}